.mj-header-wrapper {
    padding: 10px 20px;
}

.mj-header-image {
    padding: 0;
}

.mj-header-text {
    font-size: 12px;
    color: #b0b1b2;
    align: right;
}

.mj-header-group {
    vertical-align: middle;
}

.mj-header-column {
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
}
