/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
mj-all {
  padding: 0;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

mj-section {
  css-class: 'section';
}

mj-body {
  background-color: white;
}

mj-button {
  background-color: #0000c9;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  inner-padding: 13px 30px;
  padding: 15px 0;
}

mj-image {
  padding: 0;
}

.mj-content-text {
  padding: 10px 20px;
}

.mj-h1 {
  padding: 0;
}

.mj-h2 {
  padding: 10px 20px;
}

.mj-h3 {
  padding: 10px 20px;
}

.mj-section-image-teaser {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eff1f4;
  full-width: 'full-width';
  css-class: 'section-image-teaser';
  text-align: center;
}

.mj-section-black-column {
  background-color: #000;
}

.mj-section-grey-column {
  background-color: #F0F0F0;
}

@media only screen and (min-width: 620px) {
  .section-image-teaser td {
    text-align: center;
  }
  .section-image-teaser img {
    width: 60% !important;
    display: inline !important;
  }
}
